.skills{
  width:100%;
  padding-top:20px;
  padding-bottom:20px;

}

.skills-conatainer{
  max-width:1200px;
  margin: 0 auto;
}

// .skills-title{
//   text-align: left;
//   padding:20px;
//   font-size: 3em;
//   font-weight: 500;
// }
