.footer{
  max-width:100vw;
  background: black;
  bottom:0;
}

.footer-container{
  max-width:1200px;
  margin: 0 auto;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.caption{
  padding-top:20px;
  color:white;
  font-size: 1em;
  font-weight: 500;
}

.love{
  padding:10px;
  color:white;
  display: flex;
  align-items: center;
}

.love img{
  width:25px;
  padding:5px;
}

.love a{
  text-decoration: none;
  color:white;
  margin-left:8px;
}
.love a:hover{
  color:rgb(146, 71, 245);
}
