.footer{
  width:100%;
  background: transparent;
  color: var(--text, #222);
  height: 80px;
  bottom:0;
  transition: background 0.3s, color 0.3s;
}

.footer-container{
  max-width:1000px;
  margin: 0 auto;
  height:100%;
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  flex-direction:row;
}

.caption{
  margin-top: 15px;
  color: var(--text, #222);
  font-size: 0.8em;
  font-weight: 200;
}

.caption-second{
  margin-top: 15px;
  color: var(--text, #222);
  font-size: 0.8em;
  font-weight: 200;

}

.caption-second a{
  color: var(--text, #222);
  list-style: none;
  text-decoration:none;
  margin-left: 10px;
  margin-right: 10px;
}

.caption img{
  width:25px;
  padding:5px;
}
.caption a{
  text-decoration: none;
  color: var(--text, #222);
  margin-left:8px;
}
.caption a:hover{
  color:rgb(146, 71, 245);
}

@media only screen and (max-width: 700px) {
  .footer-container{
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
  }
  .caption{
    margin-top:5px;
    font-size: 12px;
  }
  .caption-second{
    margin-top: 0;
    font-size: 12px;
  }
}

body[data-theme='dark'] .footer {
  --navbar: #23272f;
  --text: #f8f8f8;
}
body[data-theme='light'] .footer {
  --navbar: #23272f;
  --text: #f8f8f8;
}