.footer{
  width:100%;
  background: black;
  bottom:0;
  
}

.footer-container{
  max-width:1200px;
  margin: 0 auto;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
}

.caption{
  padding:20px;
  color:white;
  font-size: 1em;
  font-weight: 300;
  display:flex;
  align-items: center;
}

.caption img{
  width:25px;
  padding:5px;
}
.caption a{
  text-decoration: none;
  color:white;
  margin-left:8px;
}
.caption a:hover{
  color:rgb(146, 71, 245);
}
